.idea
.vscode
.DS_Store
.env
.eslintrc.cjs
*.map
node_modules
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
tsconfig*.json
build.js
build.config.ts
jest.config.*
jest.shared.config.cjs
eslint.config.*
tsdown.config.*
src
spec
tests
cache
